*{
    margin:0;
    padding:0;
}

body{
    background-color:#004e98;
    text-align: center;
}
h1{
    color:#ebebeb;
    font-family: 'Segoe UI';
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin; 
}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color:#ebebeb;
    border-radius: 1rem;
    border: none;
    box-shadow:  0 0 1rem rgba(0,0,0,0.4);
    font-size: 8vmin;
    color: #FF6700;
    font-family: 'Segoe UI';
}
#reset-btn{
    padding: 0.8rem;
    margin: 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    box-shadow:  0 0 1rem rgba(0,0,0,0.4);
    background-color:rgb(218, 218, 218);
    color: black;
    font-family: 'Segoe UI';
}

#newgame-btn{
    padding: 0.8rem;
    margin: 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    box-shadow:  0 0 1rem rgba(0,0,0,0.4);
    background-color:rgb(218, 218, 218);
    color: black;
    font-family: 'Segoe UI';
}

#msg{
color: #28ff02; 
font-size:5vmin;
padding-top: 1rem;
font-family: 'Segoe UI';
}

.msg-conatiner{
    height: 30vmin;
    gap:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
